---
http_interactions:
- request:
    method: propfind
    uri: https://caldav.icloud.com/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:current-user-principal/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Apple-Jingle-Correlation-Key:
      - KMT65IEFEFHQNJVVUCFOF5OF64
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900901:pv42p49ic-zteg05091501:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - NONE
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 5327eea0-8521-4f06-a6b5-a08ae2f5c5f7
      X-Apple-Edge-Response-Time:
      - '240'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<multistatus
        xmlns=\"DAV:\">\n\n    \n    <response xmlns=\"DAV:\">\n        <href>/</href>\n
        \           <propstat>\n                <prop>\n                    \n                        \n
        \                           <current-user-principal xmlns=\"DAV:\"><href xmlns=\"DAV:\">/20264203208/principal/</href></current-user-principal>\n
        \                       \n                    \n                </prop>\n
        \               <status>HTTP/1.1 200 OK</status>\n            </propstat>\n
        \           \n    </response>\n    \n    \n    \n    \n    \n    \n\n\n</multistatus>"
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://caldav.icloud.com/20264203208/principal/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <caldav:calendar-home-set/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ[...]
- request:
    method: mkcalendar
    uri: https://p49-caldav.icloud.com/20264203208/calendars/12cd945fea0ffc83b221f423bb12d1ac/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <caldav:mkcalendar xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:set>
            <dav:prop>
              <dav:displayname>Calendav Test</dav:displayname>
              <caldav:supported-calendar-component-set>
                <caldav:comp name="VEVENT"/>
              </caldav:supported-calendar-component-set>
            </dav:prop>
          </dav:set>
        </caldav:mkcalendar>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apple-Jingle-Correlation-Key:
      - S45NWPHKIZCDDAZ2V2IVDP7HYE
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44901701:pv51p49ic-qukt21061102:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 973adb3c-ea46-4431-833a-ae9151bfe7c1
      X-Apple-Edge-Response-Time:
      - '704'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
[...]
- request:
    method: put
    uri: https://p49-caldav.icloud.com/20264203208/calendars/12cd945fea0ffc83b221f423bb12d1ac/calendav-event-1.ics
    body:
      encoding: UTF-8
      string: "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:icalendar-ruby\r\nCALSCALE:GREGORIAN\r\nMETHOD:PUBLISH\r\nBEGIN:VEVENT\r\nDTSTAMP:20220101T000000Z\r\nUID:b8a72480-3962-416c-8d23-46cdd7b36ca1\r\nDTSTART:20220101T103000\r\nDTEND:20220101T113000\r\nSUMMARY:Brunch\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Content-Type:
      - text/calendar
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apple-Jingle-Correlation-Key:
      - 5XRHUUNC7VDKNBS3OBNBMM53AU
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44901601:pv51p49ic-qukt21061101:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      Etag:
      - '"ky5rglsh"'
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - ede27a51-a2fd-46a6-865b-705a1633bb05
      X-Apple-Edge-Response-Time:
      - '625'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: get
    uri: https://p49-caldav.icloud.com/20264203208/calendars/12cd945fea0ffc83b221f423bb12d1ac/calendav-event-1.ics
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/calendar; charset=UTF-8
      X-Apple-Jingle-Correlation-Key:
      - PMPNPDADJ5FA7CVXKXFWJE22GQ
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44901001:pv42p49ic-zteg05101701:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      Etag:
      - '"ky5rglsh"'
      Dav:
      - 1, access-control
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 7b1ed78c-034f-4a0f-8ab7-55cb64935a34
      X-Apple-Edge-Response-Time:
      - '326'
    body:
      encoding: UTF-8
      string: "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:icalendar-ruby\r\nCALSCALE:GREGORIAN\r\nBEGIN:VEVENT\r\nDTSTAMP:20220101T000000Z\r\nUID:b8a72480-3962-416c-8d23-46cdd7b36ca1\r\nDTSTART:20220101T103000\r\nDTEND:20220101T113000\r\nSUMMARY:Brunch\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
[...]
- request:
    method: report
    uri: https://p49-caldav.icloud.com/20264203208/calendars/12cd945fea0ffc83b221f423bb12d1ac/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <caldav:calendar-query xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:getetag/>
            <caldav:calendar-data/>
          </dav:prop>
          <caldav:filter>
            <caldav:comp-filter name="VCALENDAR">
              <caldav:comp-filter name="VEVENT"/>
            </caldav:comp-filter>
          </caldav:filter>
        </caldav:calendar-query>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Depth:
      - '1'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Apple-Jingle-Correlation-Key:
      - EDMGXQYLCNETLJAS5ACR5AZUZQ
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900301:pv42p49ic-zteg04072101:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 20d86bc3-0b13-4935-a412-e8051e8334cc
      X-Apple-Edge-Response-Time:
      - '341'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<multistatus
        xmlns=\"DAV:\">\n    \n        <response>\n            <href>/20264203208/calendars/12cd945fea0ffc83b221f423bb12d1ac/</href>\n
        \           <propstat>\n                <prop>\n                    \n                        \n
        \                           <getetag xmlns=\"DAV:\">\"ky5rgks7\"</getetag>\n
        \                       \n                    \n                        \n
        \                       \n                    \n                </prop>\n
        \               <status>HTTP/1.1 200 OK</status>\n            </propstat>\n
        \           \n                <propstat>\n                    <prop>\n                        \n
        \                           <calendar-data xmlns=\"urn:ietf:params:xml:ns:caldav\"/>\n
        \                       \n                    </prop>\n                    <status>HTTP/1.1
        404 Not Found</status>\n                </propstat>\n            \n        </response>\n
        \   \n    \n        <response>\n            <href>/20264203208/calendars/12cd945fea0ffc83b221f423bb12d1ac/calendav-event-1.ics</href>\n
        \           <propstat>\n                <prop>\n                    \n                        \n
        \                           <getetag xmlns=\"DAV:\">\"ky5rglsh\"</getetag>\n
        \                       \n                    \n                        \n
        \                           <calendar-data xmlns=\"urn:ietf:params:xml:ns:caldav\"><![CDATA[BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:icalendar-ruby\r\nCALSCALE:GREGORIAN\r\nBEGIN:VEVENT\r\nDTSTAMP:20220101T000000Z\r\nUID:b8a72480-3962-416c-8d23-46cdd7b36ca1\r\nDTSTART:20220101T103000\r\nDTEND:20220101T113000\r\nSUMMARY:Brunch\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n]]></calendar-data>\n
        \                       \n                    \n                </prop>\n
        \               <status>HTTP/1.1 200 OK</status>\n            </propstat>\n
        \           \n        </response>\n    \n</multistatus>"
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
[...]
- request:
    method: report
    uri: https://p49-caldav.icloud.com/20264203208/calendars/12cd945fea0ffc83b221f423bb12d1ac/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:sync-collection xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:sync-token>HwoQEgwAAHLl4/ujUgAAAAAYARgAIhYIxY2ZkJDK84CkARDD+Y2p7rzFz5MBKAA=</dav:sync-token>
          <dav:sync-level>1</dav:sync-level>
          <dav:prop>
            <dav:getetag/>
            <caldav:calendar-data/>
          </dav:prop>
        </dav:sync-collection>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Apple-Jingle-Correlation-Key:
  [...]
[...]
- request:
    method: delete
    uri: https://p49-caldav.icloud.com/20264203208/calendars/12cd945fea0ffc83b221f423bb12d1ac/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Apple-Jingle-Correlation-Key:
      - UIXL5NZJOVHSXBRYHJSNSJTIBE
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900501:pv42p49ic-zteg04092101:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - a22ebeb7-2975-4f2b-8638-3a64d9266809
      X-Apple-Edge-Response-Time:
      - '895'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
recorded_with: VCR 6.0.0
