---
http_interactions:
- request:
    method: propfind
    uri: https://caldav.icloud.com/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:current-user-principal/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Apple-Jingle-Correlation-Key:
      - 63W7IKMTCRGWRJUSJ4C4MUXCYU
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900801:pv42p49ic-zteg05081901:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - NONE
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - f6edf429-9314-4d68-a692-4f05c652e2c5
      X-Apple-Edge-Response-Time:
      - '236'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<multistatus
        xmlns=\"DAV:\">\n\n    \n    <response xmlns=\"DAV:\">\n        <href>/</href>\n
        \           <propstat>\n                <prop>\n                    \n                        \n
        \                           <current-user-principal xmlns=\"DAV:\"><href xmlns=\"DAV:\">/20264203208/principal/</href></current-user-principal>\n
        \                       \n                    \n                </prop>\n
        \               <status>HTTP/1.1 200 OK</status>\n            </propstat>\n
        \           \n    </response>\n    \n    \n    \n    \n    \n    \n\n\n</multistatus>"
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://caldav.icloud.com/20264203208/principal/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <caldav:calendar-home-set/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ[...]
- request:
    method: mkcalendar
    uri: https://p49-caldav.icloud.com/20264203208/calendars/calendav-test/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <caldav:mkcalendar xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:set>
            <dav:prop>
              <dav:displayname>Calendav Test</dav:displayname>
              <caldav:calendar-description>For test purposes only</caldav:calendar-description>
              <caldav:calendar-timezone>BEGIN:VTIMEZONE&#xD;
        TZID:UTC&#xD;
        BEGIN:STANDARD&#xD;
        DTSTART:19700101T000000&#xD;
        TZOFFSETFROM:+0000&#xD;
        TZOFFSETTO:+0000&#xD;
        TZNAME:UTC&#xD;
        END:STANDARD&#xD;
        END:VTIMEZONE&#xD;
        </caldav:calendar-timezone>
              <apple:calendar-color>#00FF00</apple:calendar-color>
              <caldav:supported-calendar-component-set>
                <caldav:comp name="VEVENT"/>
              </caldav:supported-calendar-component-set>
            </dav:prop>
          </dav:set>
        </caldav:mkcalendar>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apple-Jingle-Correlation-Key:
      - 675CADUZX5G43FOMYZXXIS2K7U
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900101:pv42p49ic-zteg05101201:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - f7fa200e-99bf-4dcd-95cc-c66f744b4afd
      X-Apple-Edge-Response-Time:
      - '508'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
[...]
- request:
    method: propfind
    uri: https://p49-caldav.icloud.com/20264203208/calendars/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:displayname/>
            <dav:resourcetype/>
            <dav:getetag/>
            <cs:getctag/>
            <apple:calend[...]
- request:
    method: proppatch
    uri: https://p49-caldav.icloud.com/20264203208/calendars/calendav-test/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propertyupdate xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:set>
            <dav:prop>
              <dav:displayname>Calendav Update</dav:displayname>
            </dav:prop>
          </dav:set>
        </dav:propertyupdate>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      X-Apple-Jingle-Correlation-Key:
      - 7BEBVMUBXFD6FBEC2D5QY4BBTY
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44901301:pv42p49ic-zteg04062001:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - f8481ab2-81b9-47e2-8482-d0fb0c70219e
      X-Apple-Edge-Response-Time:
      - '517'
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <multistatus xmlns="DAV:" xmlns:ns2="http://apple.com/ns/ical/" xmlns:ns4="http://calendarserver.org/ns/" xmlns:ns3="urn:ietf:params:xml:ns:caldav">
            <response>
                <href>/20264203208/calendars/calendav-test/</href>
                <propstat>
                    <prop>
                        <displayname></displayname>
                    </prop>
                    <status>HTTP/1.1 200 OK</status>
                </propstat>
            </response>
        </multistatus>
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
[...]
- request:
    method: delete
    uri: https://p49-caldav.icloud.com/20264203208/calendars/calendav-test/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Apple-Jingle-Correlation-Key:
      - NU32BW526ZDS5BYO6TICM32LOE
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900901:pv42p49ic-zteg05091501:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 6d37a0db-baf6-472e-870e-f4d0266f4b71
      X-Apple-Edge-Response-Time:
      - '432'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
recorded_with: VCR 6.0.0
