---
http_interactions:
- request:
    method: propfind
    uri: https://caldav.icloud.com/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:current-user-principal/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Apple-Jingle-Correlation-Key:
      - WSSWEDSCYBDOZAQJDSMCET6CNM
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900701:pv42p49ic-zteg05071701:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - NONE
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - b4a5620e-42c0-46ec-8209-1c98224fc26b
      X-Apple-Edge-Response-Time:
      - '237'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<multistatus
        xmlns=\"DAV:\">\n\n    \n    <response xmlns=\"DAV:\">\n        <href>/</href>\n
        \           <propstat>\n                <prop>\n                    \n                        \n
        \                           <current-user-principal xmlns=\"DAV:\"><href xmlns=\"DAV:\">/20264203208/principal/</href></current-user-principal>\n
        \                       \n                    \n                </prop>\n
        \               <status>HTTP/1.1 200 OK</status>\n            </propstat>\n
        \           \n    </response>\n    \n    \n    \n    \n    \n    \n\n\n</multistatus>"
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://caldav.icloud.com/20264203208/principal/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <caldav:calendar-home-set/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ[...]
- request:
    method: mkcalendar
    uri: https://p49-caldav.icloud.com/20264203208/calendars/a9535686b7d756c2a98f3db967fdef21/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <caldav:mkcalendar xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:set>
            <dav:prop>
              <dav:displayname>Calendav Test</dav:displayname>
              <caldav:supported-calendar-component-set>
                <caldav:comp name="VEVENT"/>
              </caldav:supported-calendar-component-set>
            </dav:prop>
          </dav:set>
        </caldav:mkcalendar>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apple-Jingle-Correlation-Key:
      - 55FAAYGXAJCAHCONZBINJ2AADI
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900601:pv42p49ic-zteg04102101:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - ef4a0060-d702-4403-89cd-c850d4e8001a
      X-Apple-Edge-Response-Time:
      - '668'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
[...]
- request:
    method: put
    uri: https://p49-caldav.icloud.com/20264203208/calendars/a9535686b7d756c2a98f3db967fdef21/calendav-event-1.ics
    body:
      encoding: UTF-8
      string: "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:icalendar-ruby\r\nCALSCALE:GREGORIAN\r\nMETHOD:PUBLISH\r\nBEGIN:VEVENT\r\nDTSTAMP:20220101T000000Z\r\nUID:30e9a056-d436-46f7-9414-6e42e8237493\r\nDTSTART:20220101T103000\r\nDTEND:20220101T113000\r\nSUMMARY:Brunch\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Content-Type:
      - text/calendar
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apple-Jingle-Correlation-Key:
      - O66QUIMFTBEOTENP7B6HH6O5G4
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44901601:pv51p49ic-qukt21061101:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      Etag:
      - '"ky5rg85w"'
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 77bd0a21-8598-48e9-91af-f87c73f9dd37
      X-Apple-Edge-Response-Time:
      - '794'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: get
    uri: https://p49-caldav.icloud.com/20264203208/calendars/a9535686b7d756c2a98f3db967fdef21/calendav-event-1.ics
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/calendar; charset=UTF-8
      X-Apple-Jingle-Correlation-Key:
      - FZ3C72T32RCUHFZHKXJ7PHGZWA
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900401:pv42p49ic-zteg04082301:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      Etag:
      - '"ky5rg85w"'
      Dav:
      - 1, access-control
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 2e762fea-7bd4-4543-9727-55d3f79cd9b0
      X-Apple-Edge-Response-Time:
      - '338'
    body:
      encoding: UTF-8
      string: "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:icalendar-ruby\r\nCALSCALE:GREGORIAN\r\nBEGIN:VEVENT\r\nDTSTAMP:20220101T000000Z\r\nUID:30e9a056-d436-46f7-9414-6e42e8237493\r\nDTSTART:20220101T103000\r\nDTEND:20220101T113000\r\nSUMMARY:Brunch\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: report
    uri: https://p49-caldav.icloud.com/20264203208/calendars/a9535686b7d756c2a98f3db967fdef21/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <caldav:calendar-query xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:getetag/>
            <caldav:calendar-data/>
          </dav:prop>
          <caldav:filter>
            <caldav:comp-filter name="VCALENDAR">
              <caldav:comp-filter name="VEVENT">
                <caldav:time-range start="20220101T000000Z" end="20220101T235900Z"/>
              </caldav:comp-filter>
            </caldav:comp-filter>
          </caldav:filter>
        </caldav:calendar-query>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Depth:
      - '1'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Apple-Jingle-Correlation-Key:
      - AH22FH4XVRGG5M77Z6UECWPIHE
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900101:pv42p49ic-zteg05101201:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 01f5a29f-97ac-4c6e-b3ff-cfa84159e839
      X-Apple-Edge-Response-Time:
      - '400'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<multistatus
        xmlns=\"DAV:\">\n    \n    \n        <response>\n            <href>/20264203208/calendars/a9535686b7d756c2a98f3db967fdef21/calendav-event-1.ics</href>\n
        \           <propstat>\n                <prop>\n                    \n                        \n
        \                           <getetag xmlns=\"DAV:\">\"ky5rg85w\"</getetag>\n
        \                       \n                    \n                        \n
        \                           <calendar-data xmlns=\"urn:ietf:params:xml:ns:caldav\"><![CDATA[BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:icalendar-ruby\r\nCALSCALE:GREGORIAN\r\nBEGIN:VEVENT\r\nDTSTAMP:20220101T000000Z\r\nUID:30e9a056-d436-46f7-9414-6e42e8237493\r\nDTSTART:20220101T103000\r\nDTEND:20220101T113000\r\nSUMMARY:Brunch\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n]]></calendar-data>\n
        \                       \n                    \n                </prop>\n
        \               <status>HTTP/1.1 200 OK</status>\n            </propstat>\n
        \           \n        </response>\n    \n</multistatus>"
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
[...]
- request:
    method: delete
    uri: https://p49-caldav.icloud.com/20264203208/calendars/a9535686b7d756c2a98f3db967fdef21/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Apple-Jingle-Correlation-Key:
      - 7LUAQK5MXZGKHDDZV22B6HTNBQ
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44901101:pv42p49ic-zteg04052301:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - fae8082b-acbe-4ca3-8c79-aeb41f1e6d0c
      X-Apple-Edge-Response-Time:
      - '1414'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
recorded_with: VCR 6.0.0
