---
http_interactions:
- request:
    method: propfind
    uri: https://caldav.icloud.com/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:current-user-principal/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Apple-Jingle-Correlation-Key:
      - ALJRG3WVRRFBJFKUK2T3XIOTRM
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44901801:pv51p49ic-qukt21061301:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - NONE
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 02d3136e-d58c-4a14-9554-56a7bba1d38b
      X-Apple-Edge-Response-Time:
      - '254'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<multistatus
        xmlns=\"DAV:\">\n\n    \n    <response xmlns=\"DAV:\">\n        <href>/</href>\n
        \           <propstat>\n                <prop>\n                    \n                        \n
        \                           <current-user-principal xmlns=\"DAV:\"><href xmlns=\"DAV:\">/20264203208/principal/</href></current-user-principal>\n
        \                       \n                    \n                </prop>\n
        \               <status>HTTP/1.1 200 OK</status>\n            </propstat>\n
        \           \n    </response>\n    \n    \n    \n    \n    \n    \n\n\n</multistatus>"
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://caldav.icloud.com/20264203208/principal/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <caldav:calendar-home-set/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ[...]
- request:
    method: options
    uri: https://p49-caldav.icloud.com/20264203208/calendars/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apple-Jingle-Correlation-Key:
      - JAPABYYMZRD5VHMAEWX44B4BM4
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900501:pv42p49ic-zteg04092101:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - NONE
      Allow:
      - ACL, COPY, DELETE, GET, HEAD, LOCK, MKCOL, MOVE, OPTIONS, PROPFIND, PROPPATCH,
        PUT, REPORT, UNLOCK
      Dav:
      - 1, access-control, calendar-access, calendar-schedule, calendar-auto-schedule,
        calendar-audit, caldavserver-supports-telephone, calendar-managed-attachments,
        calendarserver-sharing, calendarserver-subscribed, calendarserver-home-sync
      X-Accept-Client-Encoding:
      - gzip
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 481e00e3-0ccc-47da-9d80-25afce078167
      X-Apple-Edge-Response-Time:
      - '144'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
recorded_with: VCR 6.0.0
