---
http_interactions:
- request:
    method: propfind
    uri: https://caldav.icloud.com/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:current-user-principal/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Apple-Jingle-Correlation-Key:
      - ITHB3TITLZAHTOSDCUJEWRIR3E
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44901101:pv42p49ic-zteg04052301:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - NONE
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 44ce1dcd-135e-4079-ba43-15124b4511d9
      X-Apple-Edge-Response-Time:
      - '230'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<multistatus
        xmlns=\"DAV:\">\n\n    \n    <response xmlns=\"DAV:\">\n        <href>/</href>\n
        \           <propstat>\n                <prop>\n                    \n                        \n
        \                           <current-user-principal xmlns=\"DAV:\"><href xmlns=\"DAV:\">/20264203208/principal/</href></current-user-principal>\n
        \                       \n                    \n                </prop>\n
        \               <status>HTTP/1.1 200 OK</status>\n            </propstat>\n
        \           \n    </response>\n    \n    \n    \n    \n    \n    \n\n\n</multistatus>"
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://caldav.icloud.com/20264203208/principal/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <caldav:calendar-home-set/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ[...]
- request:
    method: mkcalendar
    uri: https://p49-caldav.icloud.com/20264203208/calendars/51928be1a882f97337b633c59b6b5893/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <caldav:mkcalendar xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:set>
            <dav:prop>
              <dav:displayname>Calendav Test</dav:displayname>
              <caldav:supported-calendar-component-set>
                <caldav:comp name="VEVENT"/>
              </caldav:supported-calendar-component-set>
            </dav:prop>
          </dav:set>
        </caldav:mkcalendar>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apple-Jingle-Correlation-Key:
      - KFPA7V7TVZCHNEAUO3KHI5AKXI
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900201:pv42p49ic-zteg04062301:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 515e0fd7-f3ae-4476-9014-76d474740aba
      X-Apple-Edge-Response-Time:
      - '640'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
[...]
- request:
    method: delete
    uri: https://p49-caldav.icloud.com/20264203208/calendars/51928be1a882f97337b633c59b6b5893/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Apple-Jingle-Correlation-Key:
      - U525E3ZVRFC5DCKT373XPISEXM
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900501:pv42p49ic-zteg04092101:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - a775d26f-3589-45d1-8953-dff777a244bb
      X-Apple-Edge-Response-Time:
      - '1292'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
recorded_with: VCR 6.0.0
