---
http_interactions:
- request:
    method: propfind
    uri: https://caldav.icloud.com/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:current-user-principal/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Apple-Jingle-Correlation-Key:
      - 5BUGMLIS7RDMNPW66KL6SDSOUI
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900401:pv42p49ic-zteg04082301:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - NONE
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - e868662d-12fc-46c6-bede-f297e90e4ea2
      X-Apple-Edge-Response-Time:
      - '230'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<multistatus
        xmlns=\"DAV:\">\n\n    \n    <response xmlns=\"DAV:\">\n        <href>/</href>\n
        \           <propstat>\n                <prop>\n                    \n                        \n
        \                           <current-user-principal xmlns=\"DAV:\"><href xmlns=\"DAV:\">/20264203208/principal/</href></current-user-principal>\n
        \                       \n                    \n                </prop>\n
        \               <status>HTTP/1.1 200 OK</status>\n            </propstat>\n
        \           \n    </response>\n    \n    \n    \n    \n    \n    \n\n\n</multistatus>"
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://caldav.icloud.com/20264203208/principal/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <caldav:calendar-home-set/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ[...]
- request:
    method: mkcalendar
    uri: https://p49-caldav.icloud.com/20264203208/calendars/579a6d3d49cc77f0edd7baae00004960/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <caldav:mkcalendar xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:set>
            <dav:prop>
              <dav:displayname>Calendav Test</dav:displayname>
              <caldav:supported-calendar-component-set>
                <caldav:comp name="VEVENT"/>
              </caldav:supported-calendar-component-set>
            </dav:prop>
          </dav:set>
        </caldav:mkcalendar>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apple-Jingle-Correlation-Key:
      - ZVCO74RHI5AJJP5MKAVVP4OYJE
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44901301:pv42p49ic-zteg04062001:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - cd44eff2-2747-4094-bfac-502b57f1d849
      X-Apple-Edge-Response-Time:
      - '670'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
[...]
- request:
    method: put
    uri: https://p49-caldav.icloud.com/20264203208/calendars/579a6d3d49cc77f0edd7baae00004960/calendav-event.ics
    body:
      encoding: UTF-8
      string: "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:icalendar-ruby\r\nCALSCALE:GREGORIAN\r\nMETHOD:PUBLISH\r\nBEGIN:VEVENT\r\nDTSTAMP:20220101T000000Z\r\nUID:0c54f496-d182-4449-8ab2-be033e4e3ad0\r\nDTSTART:20220101T103000\r\nDTEND:20220101T113000\r\nSUMMARY:Brunch\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Content-Type:
      - text/calendar
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apple-Jingle-Correlation-Key:
      - GMYLM2BDBZGZXNWSYHPXBKHGS4
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900901:pv42p49ic-zteg05091501:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      Etag:
      - '"ky5rgfgu"'
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 3330b668-230e-4d9b-b6d2-c1df70a8e697
      X-Apple-Edge-Response-Time:
      - '621'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: get
    uri: https://p49-caldav.icloud.com/20264203208/calendars/579a6d3d49cc77f0edd7baae00004960/calendav-event.ics
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/calendar; charset=UTF-8
      X-Apple-Jingle-Correlation-Key:
      - DJJOY6R2Y5FGVPSIT65EIOTZGU
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900301:pv42p49ic-zteg04072101:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      Etag:
      - '"ky5rgfgu"'
      Dav:
      - 1, access-control
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 1a52ec7a-3ac7-4a6a-be48-9fba443a7935
      X-Apple-Edge-Response-Time:
      - '326'
    body:
      encoding: UTF-8
      string: "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:icalendar-ruby\r\nCALSCALE:GREGORIAN\r\nBEGIN:VEVENT\r\nDTSTAMP:20220101T000000Z\r\nUID:0c54f496-d182-4449-8ab2-be033e4e3ad0\r\nDTSTART:20220101T103000\r\nDTEND:20220101T113000\r\nSUMMARY:Brunch\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: put
    uri: https://p49-caldav.icloud.com/20264203208/calendars/579a6d3d49cc77f0edd7baae00004960/calendav-event.ics
    body:
      encoding: UTF-8
      string: "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:icalendar-ruby\r\nCALSCALE:GREGORIAN\r\nBEGIN:VEVENT\r\nDTSTAMP:20220101T000000Z\r\nUID:0c54f496-d182-4449-8ab2-be033e4e3ad0\r\nDTSTART:20220101T103000\r\nDTEND:20220101T113000\r\nSUMMARY:Coffee\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      If-Match:
      - '"ky5rgfgu"'
      Content-Type:
      - text/calendar
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Apple-Jingle-Correlation-Key:
      - 6YV65FKL2VC5VDQFVBN5NOWYIU
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900301:pv42p49ic-zteg04072101:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      Etag:
      - '"ky5rgfgv"'
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - f62bee95-4bd5-45da-8e05-a85bd6bad845
      X-Apple-Edge-Response-Time:
      - '606'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
[...]
- request:
    method: delete
    uri: https://p49-caldav.icloud.com/20264203208/calendars/579a6d3d49cc77f0edd7baae00004960/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Apple-Jingle-Correlation-Key:
      - SW6M77KR4BCFJC6WMLMRZH676U
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900401:pv42p49ic-zteg04082301:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 95bccffd-51e0-4454-8bd6-62d91c9fdff5
      X-Apple-Edge-Response-Time:
      - '844'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
recorded_with: VCR 6.0.0
