---
http_interactions:
- request:
    method: propfind
    uri: https://caldav.icloud.com/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:current-user-principal/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Apple-Jingle-Correlation-Key:
      - EQNFLCFODREIPGKS5AM76PMDUM
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900701:pv42p49ic-zteg05071701:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - NONE
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 241a5588-ae1c-4887-9952-e819ff3d83a3
      X-Apple-Edge-Response-Time:
      - '230'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<multistatus
        xmlns=\"DAV:\">\n\n    \n    <response xmlns=\"DAV:\">\n        <href>/</href>\n
        \           <propstat>\n                <prop>\n                    \n                        \n
        \                           <current-user-principal xmlns=\"DAV:\"><href xmlns=\"DAV:\">/20264203208/principal/</href></current-user-principal>\n
        \                       \n                    \n                </prop>\n
        \               <status>HTTP/1.1 200 OK</status>\n            </propstat>\n
        \           \n    </response>\n    \n    \n    \n    \n    \n    \n\n\n</multistatus>"
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://caldav.icloud.com/20264203208/principal/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <caldav:calendar-home-set/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ[...]
- request:
    method: mkcalendar
    uri: https://p49-caldav.icloud.com/20264203208/calendars/369d9905df2a3a57d1ae031e0316001b/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <caldav:mkcalendar xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:set>
            <dav:prop>
              <dav:displayname>Calendav Test</dav:displayname>
              <caldav:supported-calendar-component-set>
                <caldav:comp name="VEVENT"/>
              </caldav:supported-calendar-component-set>
            </dav:prop>
          </dav:set>
        </caldav:mkcalendar>
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apple-Jingle-Correlation-Key:
      - P3V3I42BOJHWHIFI3HYTUCGXDE
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44901101:pv42p49ic-zteg04052301:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 7eebb473-4172-4f63-a0a8-d9f13a08d719
      X-Apple-Edge-Response-Time:
      - '577'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
[...]
- request:
    method: put
    uri: https://p49-caldav.icloud.com/20264203208/calendars/369d9905df2a3a57d1ae031e0316001b/calendav-event.ics
    body:
      encoding: UTF-8
      string: "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:icalendar-ruby\r\nCALSCALE:GREGORIAN\r\nMETHOD:PUBLISH\r\nBEGIN:VEVENT\r\nDTSTAMP:20220101T000000Z\r\nUID:74b00df9-ec13-4f96-a7ef-1b45f0643b6b\r\nDTSTART:20220101T103000\r\nDTEND:20220101T113000\r\nSUMMARY:Brunch\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      Content-Type:
      - text/calendar
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apple-Jingle-Correlation-Key:
      - LGOSF2I4JVB3RHLO72YZR22RXI
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44901001:pv42p49ic-zteg05101701:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      Etag:
      - '"ky5rgu2z"'
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 599d22e9-1c4d-43b8-9d6e-feb198eb51ba
      X-Apple-Edge-Response-Time:
      - '744'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: get
    uri: https://p49-caldav.icloud.com/20264203208/calendars/369d9905df2a3a57d1ae031e0316001b/calendav-event.ics
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/calendar; charset=UTF-8
      X-Apple-Jingle-Correlation-Key:
      - 4CQKJ6XKYNB73O3JSGWAPLQ2AA
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44900301:pv42p49ic-zteg04072101:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      Etag:
      - '"ky5rgu2z"'
      Dav:
      - 1, access-control
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - e0a0a4fa-eac3-43fd-bb69-91ac07ae1a00
      X-Apple-Edge-Response-Time:
      - '339'
    body:
      encoding: UTF-8
      string: "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:icalendar-ruby\r\nCALSCALE:GREGORIAN\r\nBEGIN:VEVENT\r\nDTSTAMP:20220101T000000Z\r\nUID:74b00df9-ec13-4f96-a7ef-1b45f0643b6b\r\nDTSTART:20220101T103000\r\nDTEND:20220101T113000\r\nSUMMARY:Brunch\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: put
    uri: https://p49-caldav.icloud.com/20264203208/calendars/369d9905df2a3a57d1ae031e0316001b/calendav-event.ics
    body:
      encoding: UTF-8
      string: "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:icalendar-ruby\r\nCALSCALE:GREGORIAN\r\nBEGIN:VEVENT\r\nDTSTAMP:20220101T000000Z\r\nUID:74b00df9-ec13-4f96-a7ef-1b45f0643b6b\r\nDTSTART:20220101T103000\r\nDTEND:20220101T113000\r\nSUMMARY:Coffee\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
      If-Match:
      - '"ky5rgu2z"'
      Content-Type:
      - text/calendar
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Apple-Jingle-Correlation-Key:
      - 3UAMYYXORZDXDDJF3OKPBBL6VU
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44901801:pv51p49ic-qukt21061301:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      Etag:
      - '"ky5rgu30"'
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - dd00cc62-ee8e-4771-8d25-db94f0857ead
      X-Apple-Edge-Response-Time:
      - '640'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
[...]
- request:
    method: delete
    uri: https://p49-caldav.icloud.com/20264203208/calendars/369d9905df2a3a57d1ae031e0316001b/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Y2FsZW5kYXZ0ZXN0QGdtYWlsLmNvbTpwdWpsLWFkdW4taWNuci1ybnhq
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Apple-Jingle-Correlation-Key:
      - QMORTDIQR5A55BYCTDT2WQGSDY
      Apple-Seq:
      - '0'
      Apple-Tk:
      - 'false'
      Apple-Originating-System:
      - UnknownOriginatingSystem
      X-Responding-Instance:
      - caldavj:44901101:pv42p49ic-zteg04052301:8501:2205B678:e2011d5ea974
      X-Apple-Api-Version:
      - v1
      X-Apple-User-Partition:
      - '49'
      X-Apple-Request-Uuid:
      - 831d198d-108f-41de-8702-98e7ab40d21e
      X-Apple-Edge-Response-Time:
      - '845'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
recorded_with: VCR 6.0.0
