---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2F%2F0gEO5Fu33tuZtCgYIARAAGBASNwF-L9IrKvnQuvgFAyzU97wabD1-CHvDMid8nt-S0XslzldWHUjR6MpTAOM0eZAd7xThrQiU3yc&client_id=152371982526-11egrs53lnlc51d6fv9hn860sbo1ff0k.apps.googleusercontent.com&client_secret=Rceo9RSHTRx7CMWIrTYaiGRT&access_type=offline
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.A0ARrdaM-gC9c9FpwW76PQKuhYbVY5ek--z6HVYRu2JW9BXAxladl6zY2g-11kcWzINMq_Q-bjOgdUGVfnBOMIcn0Nf_9_sp0q8HB9dvSFqe3mZkATHOldBe0pKE8mGd--vQInS60-subhm3yVEhL3VbXKguFTv54",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/calendar.events.freebusy https://www.googleapis.com/auth/calendar.calendars.readonly https://www.googleapis.com/auth/calendar.app.created https://www.googleapis.com/auth/calendar.events.readonly https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/calendar.calendarlist https://www.googleapis.com/auth/calendar.readonly https://www.googleapis.com/auth/calendar.events.owned https://www.googleapis.com/auth/calendar.calendarlist.readonly https://www.googleapis.com/auth/calendar.events.owned.readonly https://www.googleapis.com/auth/calendar.events.public.readonly https://www.googleapis.com/auth/calendar.calendars https://www.googleapis.com/auth/calendar.events",
          "token_type": "Bearer"
        }
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars
    body:
      encoding: UTF-8
      string: '{"summary":"Calendav Test 1640995200"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.A0ARrdaM-gC9c9FpwW76PQKuhYbVY5ek--z6HVYRu2JW9BXAxladl6zY2g-11kcWzINMq_Q-bjOgdUGVfnBOMIcn0Nf_9_sp0q8HB9dvSFqe3mZkATHOldBe0pKE8mGd--vQInS60-subhm3yVEhL3VbXKguFTv54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"BjmgU7tSR6-S2HaEeGjiPPITzRk"'
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#calendar",
         "etag": "\"BjmgU7tSR6-S2HaEeGjiPPITzRk\"",
         "id": "5dtev9lrepefe3g5rfpgdv1meo@group.calendar.google.com",
         "summary": "Calendav Test 1640995200",
         "timeZone": "UTC",
         "conferenceProperties": {
          "allowedConferenceSolutionTypes": [
           "hangoutsMeet"
          ]
         }
        }
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://apidata.googleusercontent.com/caldav/v2/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:current-user-principal/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Bearer ya29.A0ARrdaM-gC9c9FpwW76PQKuhYbVY5ek--z6HVYRu2JW9BXAxladl6zY2g-11kcWzINMq_Q-bjOgdUGVfnBOMIcn0Nf_9_sp0q8HB9dvSFqe3mZkATHOldBe0pKE8mGd--vQInS60-subhm3yVEhL3VbXKguFTv54
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:ical="http://apple.com/ns/ical/">
         <D:response xmlns:carddav="urn:ietf:params:xml:ns:carddav" xmlns:cm="http://cal.me.com/_namespace/" xmlns:md="urn:mobileme:davservices">
          <D:href>/caldav/v2/</D:href>
          <D:propstat>
           <D:status>HTTP/1.1 200 OK</D:status>
           <D:prop>
            <D:current-user-principal>
             <D:href>/caldav/v2/calendavtest%40gmail.com/user</D:href>
            </D:current-user-principal>
           </D:prop>
          </D:propstat>
         </D:response>
        </D:multistatus>
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://apidata.googleusercontent.com/caldav/v2/calendavtest@gmail.com/user
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <caldav:calendar-home-set/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Bearer ya29.A0ARrdaM-gC9c9FpwW76PQKuhYbVY5ek--z6HVYRu2JW9BXAxladl6zY2g-11kcWzINMq_Q-bjOgdUGVfnBOMIcn0Nf_9_sp0q8HB9dvSFqe3mZkATHOldBe0pKE8mGd--vQInS60-subhm3yVEhL3VbXKguFTv54
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Dav:
      - 1, calendar-access, calendar-schedule, calendar-auto-schedule, calendar-proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:ical="http://apple.com/ns/ical/">
         <D:response xmlns:carddav="urn:ietf:params:xml:ns:carddav" xmlns:cm="http://cal.me.com/_namespace/" xmlns:md="urn:mobileme:davservices">
          <D:href>/caldav/v2/calendavtest@gmail.com/user</D:href>
          <D:propstat>
           <D:status>HTTP/1.1 200 OK</D:status>
           <D:prop>
            <caldav:calendar-home-set>
             <D:href>/caldav/v2/calendavtest%40gmail.com/</D:href>
            </caldav:calendar-home-set>
           </D:prop>
          </D:propstat>
         </D:response>
        </D:multistatus>
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://apidata.googleusercontent.com/caldav/v2/calendavtest@gmail.com/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:displayname/>
            <dav:resourcetype/>
            <dav:getetag/>
            <cs:getctag/>
      [...]
- request:
    method: put
    uri: https://apidata.googleusercontent.com/caldav/v2/5dtev9lrepefe3g5rfpgdv1meo@group.calendar.google.com/events/calendav-event-1.ics
    body:
      encoding: UTF-8
      string: "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:icalendar-ruby\r\nCALSCALE:GREGORIAN\r\nMETHOD:PUBLISH\r\nBEGIN:VEVENT\r\nDTSTAMP:20220101T000000Z\r\nUID:036abb74-4780-4472-90d8-2db028f7f60e\r\nDTSTART:20220101T103000\r\nDTEND:20220101T113000\r\nSUMMARY:Brunch\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
    headers:
      Authorization:
      - Bearer ya29.A0ARrdaM-gC9c9FpwW76PQKuhYbVY5ek--z6HVYRu2JW9BXAxladl6zY2g-11kcWzINMq_Q-bjOgdUGVfnBOMIcn0Nf_9_sp0q8HB9dvSFqe3mZkATHOldBe0pKE8mGd--vQInS60-subhm3yVEhL3VbXKguFTv54
      Content-Type:
      - text/calendar
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/xml
      Location:
      - https://apidata.googleusercontent.com/caldav/v2/5dtev9lrepefe3g5rfpgdv1meo@group.calendar.google.com/events/036abb74-4780-4472-90d8-2db028f7f60e.ics
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: get
    uri: https://apidata.googleusercontent.com/caldav/v2/5dtev9lrepefe3g5rfpgdv1meo@group.calendar.google.com/events/036abb74-4780-4472-90d8-2db028f7f60e.ics
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.A0ARrdaM-gC9c9FpwW76PQKuhYbVY5ek--z6HVYRu2JW9BXAxladl6zY2g-11kcWzINMq_Q-bjOgdUGVfnBOMIcn0Nf_9_sp0q8HB9dvSFqe3mZkATHOldBe0pKE8mGd--vQInS60-subhm3yVEhL3VbXKguFTv54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/calendar; component=vevent; charset=UTF-8
      Schedule-Tag:
      - '"b8c2c00329db0408"'
      Etag:
      - '"63777329169"'
    body:
      encoding: UTF-8
      string: "BEGIN:VCALENDAR\r\nPRODID:-//Google Inc//Google Calendar 70.9054//EN\r\nVERSION:2.0\r\nCALSCALE:GREGORIAN\r\nX-WR-CALNAME:Calendav
        Test 1640995200\r\nX-WR-TIMEZONE:UTC\r\nBEGIN:VEVENT\r\nDTSTART:20220101T103000Z\r\nDTEND:20220101T113000Z\r\nDTSTAMP:20220108T124609Z\r\nUID:036abb74-4780-4472-90d8-2db028f7f60e\r\nCREATED:20220108T124609Z\r\nDESCRIPTION:\r\nLAST-MODIFIED:20220108T124609Z\r\nLOCATION:\r\nSEQUENCE:0\r\nSTATUS:CONFIRMED\r\nSUMMARY:Brunch\r\nTRANSP:OPAQUE\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://apidata.googleusercontent.com/caldav/v2/5dtev9lrepefe3g5rfpgdv1meo@group.calendar.google.com/events/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:displayname/>
            <dav:resourcetype/>
            <dav:getet[...]
- request:
    method: report
    uri: https://apidata.googleusercontent.com/caldav/v2/5dtev9lrepefe3g5rfpgdv1meo@group.calendar.google.com/events/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <caldav:calendar-query xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:getetag/>
            <caldav:calendar-data/>
          </dav:prop>
          <caldav:filter>
            <caldav:comp-filter name="VCALENDAR">
              <caldav:comp-filter name="VEVENT"/>
            </caldav:comp-filter>
          </caldav:filter>
        </caldav:calendar-query>
    headers:
      Authorization:
      - Bearer ya29.A0ARrdaM-gC9c9FpwW76PQKuhYbVY5ek--z6HVYRu2JW9BXAxladl6zY2g-11kcWzINMq_Q-bjOgdUGVfnBOMIcn0Nf_9_sp0q8HB9dvSFqe3mZkATHOldBe0pKE8mGd--vQInS60-subhm3yVEhL3VbXKguFTv54
      Depth:
      - '1'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:ical="http://apple.com/ns/ical/">
         <D:response xmlns:carddav="urn:ietf:params:xml:ns:carddav" xmlns:cm="http://cal.me.com/_namespace/" xmlns:md="urn:mobileme:davservices">
          <D:href>/caldav/v2/5dtev9lrepefe3g5rfpgdv1meo%40group.calendar.google.com/events/036abb74-4780-4472-90d8-2db028f7f60e.ics</D:href>
          <D:propstat>
           <D:status>HTTP/1.1 200 OK</D:status>
           <D:prop>
            <D:getetag>"63777329169"</D:getetag>
            <caldav:calendar-data>BEGIN:VCALENDAR
        PRODID:-//Google Inc//Google Calendar 70.9054//EN
        VERSION:2.0
        CALSCALE:GREGORIAN
        X-WR-CALNAME:Calendav Test 1640995200
        X-WR-TIMEZONE:UTC
        BEGIN:VEVENT
        DTSTART:20220101T103000Z
        DTEND:20220101T113000Z
        DTSTAMP:20220108T124609Z
        UID:036abb74-4780-4472-90d8-2db028f7f60e
        CREATED:20220108T124609Z
        DESCRIPTION:
        LAST-MODIFIED:20220108T124609Z
        LOCATION:
        SEQUENCE:0
        STATUS:CONFIRMED
        SUMMARY:Brunch
        TRANSP:OPAQUE
        END:VEVENT
        END:VCALENDAR
        </caldav:calendar-data>
           </D:prop>
          </D:propstat>
         </D:response>
        </D:multistatus>
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
[...]
- request:
    method: report
    uri: https://apidata.googleusercontent.com/caldav/v2/5dtev9lrepefe3g5rfpgdv1meo@group.calendar.google.com/events/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:sync-collection xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:sync-token>/caldav/v2/5dtev9lrepefe3g5rfpgdv1meo%40group.calendar.google.com/events/sync/ChoI0Jjn5pei9QIQ0Jjn5pei9QIYBSCvg6XIAQ==</dav:sync-token>
          <dav:sync-level>1</dav:sync-level>
          <dav:prop>
            <dav:getetag/>
            <caldav:calendar-data/>
          </dav:prop>
        </dav:sync-collection>
    headers:
      Authorization:
      - Bearer ya29.A0ARrdaM-gC9c9FpwW76PQKuhYbVY5ek--z6HVYRu2JW9BXAxladl6zY2g-11kcWzINMq_Q-bjOgdUGVfnBOMIcn0Nf_9_sp0q8HB9dvSFqe3mZkATHOldBe0pKE8mGd--vQInS60-subhm3yVEhL3VbXKguFTv54
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
 [...]
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/calendars/5dtev9lrepefe3g5rfpgdv1meo@group.calendar.google.com
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.A0ARrdaM-gC9c9FpwW76PQKuhYbVY5ek--z6HVYRu2JW9BXAxladl6zY2g-11kcWzINMq_Q-bjOgdUGVfnBOMIcn0Nf_9_sp0q8HB9dvSFqe3mZkATHOldBe0pKE8mGd--vQInS60-subhm3yVEhL3VbXKguFTv54
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
recorded_with: VCR 6.0.0
