---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2F%2F0gEO5Fu33tuZtCgYIARAAGBASNwF-L9IrKvnQuvgFAyzU97wabD1-CHvDMid8nt-S0XslzldWHUjR6MpTAOM0eZAd7xThrQiU3yc&client_id=152371982526-11egrs53lnlc51d6fv9hn860sbo1ff0k.apps.googleusercontent.com&client_secret=Rceo9RSHTRx7CMWIrTYaiGRT&access_type=offline
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.a0ARrdaM97oFDkzJGq2rnbi8hq2MTEvsyn6Tvekg0xFP1bv9WNcpDU-UmVskvyh77Kgmey3QKB-4YcFvM9cMHRmd5DRRdAdr-e3YqAxxVSnO_7PGhXeiMS4UOese3CWMmDwbFHUVI0xQ37853VULSRESXNrjhLIMY",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/calendar.calendars https://www.googleapis.com/auth/calendar.events.freebusy https://www.googleapis.com/auth/calendar.calendars.readonly https://www.googleapis.com/auth/calendar.events.readonly https://www.googleapis.com/auth/calendar.app.created https://www.googleapis.com/auth/calendar.events https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/calendar.calendarlist https://www.googleapis.com/auth/calendar.readonly https://www.googleapis.com/auth/calendar.events.owned https://www.googleapis.com/auth/calendar.calendarlist.readonly https://www.googleapis.com/auth/calendar.events.public.readonly https://www.googleapis.com/auth/calendar.events.owned.readonly",
          "token_type": "Bearer"
        }
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars
    body:
      encoding: UTF-8
      string: '{"summary":"Calendav Test 1640995200"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0ARrdaM97oFDkzJGq2rnbi8hq2MTEvsyn6Tvekg0xFP1bv9WNcpDU-UmVskvyh77Kgmey3QKB-4YcFvM9cMHRmd5DRRdAdr-e3YqAxxVSnO_7PGhXeiMS4UOese3CWMmDwbFHUVI0xQ37853VULSRESXNrjhLIMY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"nhpMhBKuCwTczoLHENv0BAmS8xo"'
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#calendar",
         "etag": "\"nhpMhBKuCwTczoLHENv0BAmS8xo\"",
         "id": "42rr14a772ofmafubn342n8no8@group.calendar.google.com",
         "summary": "Calendav Test 1640995200",
         "timeZone": "UTC",
         "conferenceProperties": {
          "allowedConferenceSolutionTypes": [
           "hangoutsMeet"
          ]
         }
        }
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://apidata.googleusercontent.com/caldav/v2/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:current-user-principal/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Bearer ya29.a0ARrdaM97oFDkzJGq2rnbi8hq2MTEvsyn6Tvekg0xFP1bv9WNcpDU-UmVskvyh77Kgmey3QKB-4YcFvM9cMHRmd5DRRdAdr-e3YqAxxVSnO_7PGhXeiMS4UOese3CWMmDwbFHUVI0xQ37853VULSRESXNrjhLIMY
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:ical="http://apple.com/ns/ical/">
         <D:response xmlns:carddav="urn:ietf:params:xml:ns:carddav" xmlns:cm="http://cal.me.com/_namespace/" xmlns:md="urn:mobileme:davservices">
          <D:href>/caldav/v2/</D:href>
          <D:propstat>
           <D:status>HTTP/1.1 200 OK</D:status>
           <D:prop>
            <D:current-user-principal>
             <D:href>/caldav/v2/calendavtest%40gmail.com/user</D:href>
            </D:current-user-principal>
           </D:prop>
          </D:propstat>
         </D:response>
        </D:multistatus>
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://apidata.googleusercontent.com/caldav/v2/calendavtest@gmail.com/user
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <caldav:calendar-home-set/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Bearer ya29.a0ARrdaM97oFDkzJGq2rnbi8hq2MTEvsyn6Tvekg0xFP1bv9WNcpDU-UmVskvyh77Kgmey3QKB-4YcFvM9cMHRmd5DRRdAdr-e3YqAxxVSnO_7PGhXeiMS4UOese3CWMmDwbFHUVI0xQ37853VULSRESXNrjhLIMY
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Dav:
      - 1, calendar-access, calendar-schedule, calendar-auto-schedule, calendar-proxy
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:ical="http://apple.com/ns/ical/">
         <D:response xmlns:carddav="urn:ietf:params:xml:ns:carddav" xmlns:cm="http://cal.me.com/_namespace/" xmlns:md="urn:mobileme:davservices">
          <D:href>/caldav/v2/calendavtest@gmail.com/user</D:href>
          <D:propstat>
           <D:status>HTTP/1.1 200 OK</D:status>
           <D:prop>
            <caldav:calendar-home-set>
             <D:href>/caldav/v2/calendavtest%40gmail.com/</D:href>
            </caldav:calendar-home-set>
           </D:prop>
          </D:propstat>
         </D:response>
        </D:multistatus>
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://apidata.googleusercontent.com/caldav/v2/calendavtest@gmail.com/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:displayname/>
            <dav:resourcetype/>
            <dav:getetag/>
            <cs:getctag/>
      [...]
- request:
    method: put
    uri: https://apidata.googleusercontent.com/caldav/v2/42rr14a772ofmafubn342n8no8@group.calendar.google.com/events/calendav-event.ics
    body:
      encoding: UTF-8
      string: "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:icalendar-ruby\r\nCALSCALE:GREGORIAN\r\nMETHOD:PUBLISH\r\nBEGIN:VEVENT\r\nDTSTAMP:20220101T000000Z\r\nUID:d5ee1c0f-ef32-43ee-9957-d684a1928e98\r\nDTSTART:20220101T103000\r\nDTEND:20220101T113000\r\nSUMMARY:Brunch\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
    headers:
      Authorization:
      - Bearer ya29.a0ARrdaM97oFDkzJGq2rnbi8hq2MTEvsyn6Tvekg0xFP1bv9WNcpDU-UmVskvyh77Kgmey3QKB-4YcFvM9cMHRmd5DRRdAdr-e3YqAxxVSnO_7PGhXeiMS4UOese3CWMmDwbFHUVI0xQ37853VULSRESXNrjhLIMY
      Content-Type:
      - text/calendar
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://apidata.googleusercontent.com/caldav/v2/42rr14a772ofmafubn342n8no8@group.calendar.google.com/events/d5ee1c0f-ef32-43ee-9957-d684a1928e98.ics
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: get
    uri: https://apidata.googleusercontent.com/caldav/v2/42rr14a772ofmafubn342n8no8@group.calendar.google.com/events/d5ee1c0f-ef32-43ee-9957-d684a1928e98.ics
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0ARrdaM97oFDkzJGq2rnbi8hq2MTEvsyn6Tvekg0xFP1bv9WNcpDU-UmVskvyh77Kgmey3QKB-4YcFvM9cMHRmd5DRRdAdr-e3YqAxxVSnO_7PGhXeiMS4UOese3CWMmDwbFHUVI0xQ37853VULSRESXNrjhLIMY
  response:
    status:
      code: 200
      message: OK
    headers:
      Schedule-Tag:
      - '"63275ab4d4455327"'
      Etag:
      - '"63777324436"'
      Content-Type:
      - text/calendar; component=vevent; charset=UTF-8
    body:
      encoding: UTF-8
      string: "BEGIN:VCALENDAR\r\nPRODID:-//Google Inc//Google Calendar 70.9054//EN\r\nVERSION:2.0\r\nCALSCALE:GREGORIAN\r\nX-WR-CALNAME:Calendav
        Test 1640995200\r\nX-WR-TIMEZONE:UTC\r\nBEGIN:VEVENT\r\nDTSTART:20220101T103000Z\r\nDTEND:20220101T113000Z\r\nDTSTAMP:20220108T112716Z\r\nUID:d5ee1c0f-ef32-43ee-9957-d684a1928e98\r\nCREATED:20220108T112716Z\r\nDESCRIPTION:\r\nLAST-MODIFIED:20220108T112716Z\r\nLOCATION:\r\nSEQUENCE:0\r\nSTATUS:CONFIRMED\r\nSUMMARY:Brunch\r\nTRANSP:OPAQUE\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: put
    uri: https://apidata.googleusercontent.com/caldav/v2/42rr14a772ofmafubn342n8no8@group.calendar.google.com/events/d5ee1c0f-ef32-43ee-9957-d684a1928e98.ics
    body:
      encoding: UTF-8
      string: "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:-//Google Inc//Google Calendar
        70.9054//EN\r\nCALSCALE:GREGORIAN\r\nX-WR-CALNAME:Calendav Test 1640995200\r\nX-WR-TIMEZONE:UTC\r\nBEGIN:VEVENT\r\nDTSTAMP:20220108T112716Z\r\nUID:d5ee1c0f-ef32-43ee-9957-d684a1928e98\r\nDTSTART:20220101T103000Z\r\nDTEND:20220101T113000Z\r\nCREATED:20220108T112716Z\r\nDESCRIPTION:\r\nLAST-MODIFIED:20220108T112716Z\r\nLOCATION:\r\nSEQUENCE:0\r\nSTATUS:CONFIRMED\r\nSUMMARY:Coffee\r\nTRANSP:OPAQUE\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
    headers:
      Authorization:
      - Bearer ya29.a0ARrdaM97oFDkzJGq2rnbi8hq2MTEvsyn6Tvekg0xFP1bv9WNcpDU-UmVskvyh77Kgmey3QKB-4YcFvM9cMHRmd5DRRdAdr-e3YqAxxVSnO_7PGhXeiMS4UOese3CWMmDwbFHUVI0xQ37853VULSRESXNrjhLIMY
      If-Match:
      - '"63777324436"'
      Content-Type:
      - text/calendar
  response:
    status:
      code: 204
      message: No Content
    headers:
      Schedule-Tag:
      - '"f732852d40487d0f"'
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
[...]
- request:
    method: put
    uri: https://apidata.googleusercontent.com/caldav/v2/42rr14a772ofmafubn342n8no8@group.calendar.google.com/events/d5ee1c0f-ef32-43ee-9957-d684a1928e98.ics
    body:
      encoding: UTF-8
      string: "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:-//Google Inc//Google Calendar
        70.9054//EN\r\nCALSCALE:GREGORIAN\r\nX-WR-CALNAME:Calendav Test 1640995200\r\nX-WR-TIMEZONE:UTC\r\nBEGIN:VEVENT\r\nDTSTAMP:20220108T112716Z\r\nUID:d5ee1c0f-ef32-43ee-9957-d684a1928e98\r\nDTSTART:20220101T103000Z\r\nDTEND:20220101T113000Z\r\nCREATED:20220108T112716Z\r\nDESCRIPTION:\r\nLAST-MODIFIED:20220108T112716Z\r\nLOCATION:\r\nSEQUENCE:0\r\nSTATUS:CONFIRMED\r\nSUMMARY:Brunch\r\nTRANSP:OPAQUE\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
    headers:
      Authorization:
      - Bearer ya29.a0ARrdaM97oFDkzJGq2rnbi8hq2MTEvsyn6Tvekg0xFP1bv9WNcpDU-UmVskvyh77Kgmey3QKB-4YcFvM9cMHRmd5DRRdAdr-e3YqAxxVSnO_7PGhXeiMS4UOese3CWMmDwbFHUVI0xQ37853VULSRESXNrjhLIMY
      If-Match:
      - '"63777324436"'
      Content-Type:
      - text/calendar
  response:
    status:
      code: 412
      message: Precondition Failed
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:error xmlns:D="DAV:"/>
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/calendars/42rr14a772ofmafubn342n8no8@group.calendar.google.com
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0ARrdaM97oFDkzJGq2rnbi8hq2MTEvsyn6Tvekg0xFP1bv9WNcpDU-UmVskvyh77Kgmey3QKB-4YcFvM9cMHRmd5DRRdAdr-e3YqAxxVSnO_7PGhXeiMS4UOese3CWMmDwbFHUVI0xQ37853VULSRESXNrjhLIMY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
recorded_with: VCR 6.0.0
