---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2F%2F0gEO5Fu33tuZtCgYIARAAGBASNwF-L9IrKvnQuvgFAyzU97wabD1-CHvDMid8nt-S0XslzldWHUjR6MpTAOM0eZAd7xThrQiU3yc&client_id=152371982526-11egrs53lnlc51d6fv9hn860sbo1ff0k.apps.googleusercontent.com&client_secret=Rceo9RSHTRx7CMWIrTYaiGRT&access_type=offline
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.a0ARrdaM9M05quzSEqHEn2frq0oxixB_1aGsa8VFH6g_IfypFZYOFHbIjlMKh0-6RQsKPCnF04D3b14813yswmsXMNH-aGZhOmCISgUYuR1YToIrPT30Sm0npeKowjSmaNXkcADcoWObQ6b9HU4PP3E3V7Wa3OjRE",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/calendar.events.owned.readonly https://www.googleapis.com/auth/calendar.calendarlist.readonly https://www.googleapis.com/auth/calendar.readonly https://www.googleapis.com/auth/calendar.events.owned https://www.googleapis.com/auth/calendar.events.freebusy https://www.googleapis.com/auth/calendar.events https://www.googleapis.com/auth/calendar.calendars https://www.googleapis.com/auth/calendar.events.public.readonly https://www.googleapis.com/auth/calendar.app.created https://www.googleapis.com/auth/calendar.calendars.readonly https://www.googleapis.com/auth/calendar.events.readonly https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/calendar.calendarlist",
          "token_type": "Bearer"
        }
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars
    body:
      encoding: UTF-8
      string: '{"summary":"Calendav Test 1640995200"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0ARrdaM9M05quzSEqHEn2frq0oxixB_1aGsa8VFH6g_IfypFZYOFHbIjlMKh0-6RQsKPCnF04D3b14813yswmsXMNH-aGZhOmCISgUYuR1YToIrPT30Sm0npeKowjSmaNXkcADcoWObQ6b9HU4PP3E3V7Wa3OjRE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"VDyC2VIgrTvmeZsLWqTt-xlCPZI"'
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#calendar",
         "etag": "\"VDyC2VIgrTvmeZsLWqTt-xlCPZI\"",
         "id": "qhhtfqsaagqpnomtvmcbg0sn64@group.calendar.google.com",
         "summary": "Calendav Test 1640995200",
         "timeZone": "UTC",
         "conferenceProperties": {
          "allowedConferenceSolutionTypes": [
           "hangoutsMeet"
          ]
         }
        }
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://apidata.googleusercontent.com/caldav/v2/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:current-user-principal/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Bearer ya29.a0ARrdaM9M05quzSEqHEn2frq0oxixB_1aGsa8VFH6g_IfypFZYOFHbIjlMKh0-6RQsKPCnF04D3b14813yswmsXMNH-aGZhOmCISgUYuR1YToIrPT30Sm0npeKowjSmaNXkcADcoWObQ6b9HU4PP3E3V7Wa3OjRE
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:ical="http://apple.com/ns/ical/">
         <D:response xmlns:carddav="urn:ietf:params:xml:ns:carddav" xmlns:cm="http://cal.me.com/_namespace/" xmlns:md="urn:mobileme:davservices">
          <D:href>/caldav/v2/</D:href>
          <D:propstat>
           <D:status>HTTP/1.1 200 OK</D:status>
           <D:prop>
            <D:current-user-principal>
             <D:href>/caldav/v2/calendavtest%40gmail.com/user</D:href>
            </D:current-user-principal>
           </D:prop>
          </D:propstat>
         </D:response>
        </D:multistatus>
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://apidata.googleusercontent.com/caldav/v2/calendavtest@gmail.com/user
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <caldav:calendar-home-set/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Bearer ya29.a0ARrdaM9M05quzSEqHEn2frq0oxixB_1aGsa8VFH6g_IfypFZYOFHbIjlMKh0-6RQsKPCnF04D3b14813yswmsXMNH-aGZhOmCISgUYuR1YToIrPT30Sm0npeKowjSmaNXkcADcoWObQ6b9HU4PP3E3V7Wa3OjRE
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Dav:
      - 1, calendar-access, calendar-schedule, calendar-auto-schedule, calendar-proxy
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:ical="http://apple.com/ns/ical/">
         <D:response xmlns:carddav="urn:ietf:params:xml:ns:carddav" xmlns:cm="http://cal.me.com/_namespace/" xmlns:md="urn:mobileme:davservices">
          <D:href>/caldav/v2/calendavtest@gmail.com/user</D:href>
          <D:propstat>
           <D:status>HTTP/1.1 200 OK</D:status>
           <D:prop>
            <caldav:calendar-home-set>
             <D:href>/caldav/v2/calendavtest%40gmail.com/</D:href>
            </caldav:calendar-home-set>
           </D:prop>
          </D:propstat>
         </D:response>
        </D:multistatus>
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://apidata.googleusercontent.com/caldav/v2/calendavtest@gmail.com/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:displayname/>
            <dav:resourcetype/>
            <dav:getetag/>
            <cs:getctag/>
      [...]
- request:
    method: put
    uri: https://apidata.googleusercontent.com/caldav/v2/qhhtfqsaagqpnomtvmcbg0sn64@group.calendar.google.com/events/calendav-event-1.ics
    body:
      encoding: UTF-8
      string: "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:icalendar-ruby\r\nCALSCALE:GREGORIAN\r\nMETHOD:PUBLISH\r\nBEGIN:VEVENT\r\nDTSTAMP:20220101T000000Z\r\nUID:b734a707-114a-4e8a-a319-2f5c36e58eb1\r\nDTSTART:20220101T103000\r\nDTEND:20220101T113000\r\nSUMMARY:Brunch\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
    headers:
      Authorization:
      - Bearer ya29.a0ARrdaM9M05quzSEqHEn2frq0oxixB_1aGsa8VFH6g_IfypFZYOFHbIjlMKh0-6RQsKPCnF04D3b14813yswmsXMNH-aGZhOmCISgUYuR1YToIrPT30Sm0npeKowjSmaNXkcADcoWObQ6b9HU4PP3E3V7Wa3OjRE
      Content-Type:
      - text/calendar
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://apidata.googleusercontent.com/caldav/v2/qhhtfqsaagqpnomtvmcbg0sn64@group.calendar.google.com/events/b734a707-114a-4e8a-a319-2f5c36e58eb1.ics
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: get
    uri: https://apidata.googleusercontent.com/caldav/v2/qhhtfqsaagqpnomtvmcbg0sn64@group.calendar.google.com/events/b734a707-114a-4e8a-a319-2f5c36e58eb1.ics
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0ARrdaM9M05quzSEqHEn2frq0oxixB_1aGsa8VFH6g_IfypFZYOFHbIjlMKh0-6RQsKPCnF04D3b14813yswmsXMNH-aGZhOmCISgUYuR1YToIrPT30Sm0npeKowjSmaNXkcADcoWObQ6b9HU4PP3E3V7Wa3OjRE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/calendar; component=vevent; charset=UTF-8
      Schedule-Tag:
      - '"b1d9365b37a294db"'
      Etag:
      - '"63777323952"'
    body:
      encoding: UTF-8
      string: "BEGIN:VCALENDAR\r\nPRODID:-//Google Inc//Google Calendar 70.9054//EN\r\nVERSION:2.0\r\nCALSCALE:GREGORIAN\r\nX-WR-CALNAME:Calendav
        Test 1640995200\r\nX-WR-TIMEZONE:UTC\r\nBEGIN:VEVENT\r\nDTSTART:20220101T103000Z\r\nDTEND:20220101T113000Z\r\nDTSTAMP:20220108T111912Z\r\nUID:b734a707-114a-4e8a-a319-2f5c36e58eb1\r\nCREATED:20220108T111912Z\r\nDESCRIPTION:\r\nLAST-MODIFIED:20220108T111912Z\r\nLOCATION:\r\nSEQUENCE:0\r\nSTATUS:CONFIRMED\r\nSUMMARY:Brunch\r\nTRANSP:OPAQUE\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: report
    uri: https://apidata.googleusercontent.com/caldav/v2/qhhtfqsaagqpnomtvmcbg0sn64@group.calendar.google.com/events/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <caldav:calendar-query xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:getetag/>
            <caldav:calendar-data/>
          </dav:prop>
          <caldav:filter>
            <caldav:comp-filter name="VCALENDAR">
              <caldav:comp-filter name="VEVENT">
                <caldav:time-range start="20220101T000000Z" end="20220101T235900Z"/>
              </caldav:comp-filter>
            </caldav:comp-filter>
          </caldav:filter>
        </caldav:calendar-query>
    headers:
      Authorization:
      - Bearer ya29.a0ARrdaM9M05quzSEqHEn2frq0oxixB_1aGsa8VFH6g_IfypFZYOFHbIjlMKh0-6RQsKPCnF04D3b14813yswmsXMNH-aGZhOmCISgUYuR1YToIrPT30Sm0npeKowjSmaNXkcADcoWObQ6b9HU4PP3E3V7Wa3OjRE
      Depth:
      - '1'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:ical="http://apple.com/ns/ical/">
         <D:response xmlns:carddav="urn:ietf:params:xml:ns:carddav" xmlns:cm="http://cal.me.com/_namespace/" xmlns:md="urn:mobileme:davservices">
          <D:href>/caldav/v2/qhhtfqsaagqpnomtvmcbg0sn64%40group.calendar.google.com/events/b734a707-114a-4e8a-a319-2f5c36e58eb1.ics</D:href>
          <D:propstat>
           <D:status>HTTP/1.1 200 OK</D:status>
           <D:prop>
            <D:getetag>"63777323952"</D:getetag>
            <caldav:calendar-data>BEGIN:VCALENDAR
        PRODID:-//Google Inc//Google Calendar 70.9054//EN
        VERSION:2.0
        CALSCALE:GREGORIAN
        X-WR-CALNAME:Calendav Test 1640995200
        X-WR-TIMEZONE:UTC
        BEGIN:VEVENT
        DTSTART:20220101T103000Z
        DTEND:20220101T113000Z
        DTSTAMP:20220108T111912Z
        UID:b734a707-114a-4e8a-a319-2f5c36e58eb1
        CREATED:20220108T111912Z
        DESCRIPTION:
        LAST-MODIFIED:20220108T111912Z
        LOCATION:
        SEQUENCE:0
        STATUS:CONFIRMED
        SUMMARY:Brunch
        TRANSP:OPAQUE
        END:VEVENT
        END:VCALENDAR
        </caldav:calendar-data>
           </D:prop>
          </D:propstat>
         </D:response>
        </D:multistatus>
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/calendars/qhhtfqsaagqpnomtvmcbg0sn64@group.calendar.google.com
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0ARrdaM9M05quzSEqHEn2frq0oxixB_1aGsa8VFH6g_IfypFZYOFHbIjlMKh0-6RQsKPCnF04D3b14813yswmsXMNH-aGZhOmCISgUYuR1YToIrPT30Sm0npeKowjSmaNXkcADcoWObQ6b9HU4PP3E3V7Wa3OjRE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
recorded_with: VCR 6.0.0
