---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2F%2F0gEO5Fu33tuZtCgYIARAAGBASNwF-L9IrKvnQuvgFAyzU97wabD1-CHvDMid8nt-S0XslzldWHUjR6MpTAOM0eZAd7xThrQiU3yc&client_id=152371982526-11egrs53lnlc51d6fv9hn860sbo1ff0k.apps.googleusercontent.com&client_secret=Rceo9RSHTRx7CMWIrTYaiGRT&access_type=offline
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.a0ARrdaM-kv6U8CpxIWHqR_7p9oqBo_AOQCb-iQzBudBVATm1sEYZ1XCjao-wvssaBhgu6sdkxzFnkXNwBl0KkHgveMAoTFwV3d1NXONLK3nQyGCZVL0h87TlxcBF8_fyHfBFGhJ4IOL21iOXqPGV2hTqaqDRGIN0",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/calendar.events.public.readonly https://www.googleapis.com/auth/calendar.app.created https://www.googleapis.com/auth/calendar.calendars.readonly https://www.googleapis.com/auth/calendar.events.readonly https://www.googleapis.com/auth/calendar.readonly https://www.googleapis.com/auth/calendar.calendarlist https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/calendar.events.owned.readonly https://www.googleapis.com/auth/calendar.calendarlist.readonly https://www.googleapis.com/auth/calendar.events.owned https://www.googleapis.com/auth/calendar.events.freebusy https://www.googleapis.com/auth/calendar.events https://www.googleapis.com/auth/calendar.calendars",
          "token_type": "Bearer"
        }
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://apidata.googleusercontent.com/caldav/v2/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <dav:current-user-principal/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Bearer ya29.a0ARrdaM-kv6U8CpxIWHqR_7p9oqBo_AOQCb-iQzBudBVATm1sEYZ1XCjao-wvssaBhgu6sdkxzFnkXNwBl0KkHgveMAoTFwV3d1NXONLK3nQyGCZVL0h87TlxcBF8_fyHfBFGhJ4IOL21iOXqPGV2hTqaqDRGIN0
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:ical="http://apple.com/ns/ical/">
         <D:response xmlns:carddav="urn:ietf:params:xml:ns:carddav" xmlns:cm="http://cal.me.com/_namespace/" xmlns:md="urn:mobileme:davservices">
          <D:href>/caldav/v2/</D:href>
          <D:propstat>
           <D:status>HTTP/1.1 200 OK</D:status>
           <D:prop>
            <D:current-user-principal>
             <D:href>/caldav/v2/calendavtest%40gmail.com/user</D:href>
            </D:current-user-principal>
           </D:prop>
          </D:propstat>
         </D:response>
        </D:multistatus>
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
- request:
    method: propfind
    uri: https://apidata.googleusercontent.com/caldav/v2/calendavtest@gmail.com/user
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dav:propfind xmlns:dav="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:apple="http://apple.com/ns/ical/">
          <dav:prop>
            <caldav:calendar-home-set/>
          </dav:prop>
        </dav:propfind>
    headers:
      Authorization:
      - Bearer ya29.a0ARrdaM-kv6U8CpxIWHqR_7p9oqBo_AOQCb-iQzBudBVATm1sEYZ1XCjao-wvssaBhgu6sdkxzFnkXNwBl0KkHgveMAoTFwV3d1NXONLK3nQyGCZVL0h87TlxcBF8_fyHfBFGhJ4IOL21iOXqPGV2hTqaqDRGIN0
      Depth:
      - '0'
      Content-Type:
      - application/xml; charset=utf-8
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Dav:
      - 1, calendar-access, calendar-schedule, calendar-auto-schedule, calendar-proxy
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <D:multistatus xmlns:D="DAV:" xmlns:caldav="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:ical="http://apple.com/ns/ical/">
         <D:response xmlns:carddav="urn:ietf:params:xml:ns:carddav" xmlns:cm="http://cal.me.com/_namespace/" xmlns:md="urn:mobileme:davservices">
          <D:href>/caldav/v2/calendavtest@gmail.com/user</D:href>
          <D:propstat>
           <D:status>HTTP/1.1 200 OK</D:status>
           <D:prop>
            <caldav:calendar-home-set>
             <D:href>/caldav/v2/calendavtest%40gmail.com/</D:href>
            </caldav:calendar-home-set>
           </D:prop>
          </D:propstat>
         </D:response>
        </D:multistatus>
  recorded_at: Sat, 01 Jan 2022 00:00:00 GMT
recorded_with: VCR 6.0.0
